# Eat Safe, Love

## Notebook Set Up

In [5]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [6]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [7]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [8]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [9]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [55]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
print("Number of rows in DataFrame:", len(establishments_df))
# Display the first document in the results using pprint
pprint(db.establishments.find_one(query))

Number of rows in DataFrame: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('670cb396e966cb318f16d057'),
 'geocode': {'latitude': Decimal128('50.769705'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [73]:
# Convert the result to a Pandas DataFrame
results=list(establishments.find(query))
establishments_df= pd.json_normalize(results)
# Display the number of rows in the DataFrame
print("Number of rows in DataFrame:", len(establishments_df))
# Display the first 10 rows of the DataFrame
establishments_df[['scores.Hygiene']].head(10)

Number of rows in DataFrame: 33

   scores.Hygiene
0               5
1               0
2               0
3               0
4               0
5               0
6               0
7              10
8               0
9               0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [68]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'RatingValue': {'$gte': 4}}
query = {
    'RatingValue': {'$gte': 4},
    'LocalAuthorityName': {'$regex': 'London', '$options': 'i'} 
}
# Use count_documents to display the number of documents in the result
print("Number of rows in DataFrame:", len(establishments_df))
# Display the first document in the results using pprint
pprint(db.establishments.find_one(query))

Number of rows in DataFrame: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('670cb397e966cb318f16ea7a'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [71]:
# Convert the result to a Pandas DataFrame
results=list(establishments.find(query))
establishments_df= pd.json_normalize(results)
# Display the number of rows in the DataFrame
print("Number of rows in DataFrame:", len(establishments_df))
# Display the first 10 rows of the DataFrame
establishments_df[['LocalAuthorityName','RatingValue']].head(10)
#establishments_df.head(10)

Number of rows in DataFrame: 33

           LocalAuthorityName  RatingValue
0  City of London Corporation            4
1  City of London Corporation            5
2  City of London Corporation            4
3  City of London Corporation            5
4  City of London Corporation            5
5  City of London Corporation            5
6  City of London Corporation            5
7  City of London Corporation            4
8  City of London Corporation            5
9  City of London Corporation            5

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [76]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = Decimal128(51.369321)
longitude = Decimal128(0.508551)

query =
sort =
limit =

# Print the results

SyntaxError: invalid syntax (84947858.py, line 9)

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame